
<div class="scrollable">



<table class="table">
    <thead style="fix">
        <tr>
            <th class="left">Checkbox</th>
            <th>Title</th>
            <!--<th>Triwizard Champion?</th>
            <th>Can Cast Fireball</th>-->
            <th>
              Checkbox
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todoItem of todosdetail" [ngClass]="{'checked': todoItem.completed}">
          
            <td class="left">
              
               <clr-checkbox
                        name="termsCheckbox"
                        id="{{todoItem.id}}"
                        [(ngModel)]="todoItem.completed" (change)="yescheckit(todoItem)">
                    
                </clr-checkbox>
                {{todoItem.completed}}
            
            </td>
          
            <td>{{ todoItem.title }}</td>
            <td>
              <button type="button" class="btn btn-icon" (click)="OnDelete(todoItem)">
    <clr-icon shape="times" ></clr-icon>
</button>
            </td>
           
        </tr>
       
        
    </tbody>
</table>


</div>
<div class="bottom-form">
    <div class="card">
            <div class="card-header">
                ADD TODO
            </div>
            <div class="card-block">
                <div class="card-title">
                    <form  (ngSubmit)="onSubmit(todoform)" #todoform="ngForm">
    <section class="form-block">
        <label></label>
        <div class="form-group">
            <label for="aForm_1">Enter values for Todo</label>
            
            <input
            type="text"
            id="name"
            
            name="name"
            ngModel
            required
          >
        </div>
       
       
        <button type="submit" class="btn btn-primary special-btn">Add Todo</button>
    </section>
</form>
                </div>
                <div class="card-text">
                    ...
                </div>
            </div>
    </div>
    


<!--
<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" [hidden]="submitted">
    <section class="form-block">
        <label>Add Employee Information</label>
        <div class="form-group">
            <label for="empFirstName">First name</label>
            <label for="empFirstName"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
               
                >
                <input type="text" id="empFirstName" placeholder="Enter first name"
                    required
                    name="firstName"
                    >
                <span class="tooltip-content">
                    First Name is Required.
                </span>
            </label>
        </div>
        
        <button class="btn btn-primary" type="submit"
            [disabled]="employeeForm.form.invalid">Add</button>
    </section>
</form>-->
</div>