<!--<div class="view">
  <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">-->
  <!--<label>{{todo.title}}</label>-->
<!--
    <label>{{todo.name}}</label>
  <button class="destroy" (click)="removeTodo(todo)"></button>
</div>-->



<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{todo.name}}</h4>
                <p class="card-text">Here is a progress bar at the very top of a card.</p>
                
         <div class="form-group">
            <label for="formFields_13">User Name</label>
            <input type="text" id="formFields_13" size="35" readonly value="{{todo.name}}">
        </div>

         <div class="form-group">
            <label for="formFields_13">Email</label>
            <input type="text" id="formFields_13" size="35" readonly value="{{todo.email}}">
        </div>

         <div class="form-group">
            <label for="formFields_13">Website</label>
            <input type="text" id="formFields_13" size="35" readonly value="{{todo.website}}">
        </div>

         <div class="form-group">
            <label for="formFields_13">Phone</label>
            <input type="text" id="formFields_13" size="35" readonly value="{{todo.phone}}">
        </div>
                
            </div>
            <div class="card-footer">
                <div class="progress-static top">
                    <div class="progress-meter" data-value="..."></div>
                </div>
                <a  [routerLink]="todo.id" class="card-link">Click</a>
            </div>
        </div>
    </div>
</div>

<!--
 <div class="center">
    
		<div class="profile">
			<div class="image">
				<div class="circle-1"></div>
				<div class="circle-2"></div>
				<img src="http://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70" alt="Jessica Potter">
			</div>
			
			<div class="name">{{todo.name}}</div>
			<div class="job">{{todo.email}}</div>
			
			<div class="actions">
				<button class="btn">Follow</button>
			
			</div>
		</div>
		
		<div class="stats">
			<div class="box">
				<span class="value">{{todo.website}}</span>
				<span class="parameter">Website</span>
			</div>
			<div class="box">
				<span class="value">{{todo.username}}</span>
				<span class="parameter">Username</span>
			</div>
			<div class="box">
				<span class="value">{{todo.phone}}</span>
				<span class="parameter">Phone</span>
			</div>
		</div>
  </div>
  -->

