<!--<h1>  {{title}}</h1>-->

<!--<section class="todoapp">-->
  <!--<app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>

  
 

    <app-todo-list-footer [todos]="todos"></app-todo-list-footer>   -->
<!--</section>-->
<div class="main-container">
    <div class="alert alert-app-level">
      Alert
    </div>
    <header class="header header-6">
        HEader
    </header>
    <nav class="subnav">
        Sub Nav
    </nav>
    <div class="content-container">
        <div class="content-area">
              <!--<app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)"
                 (remove)="onRemoveTodo($event)"></app-todo-list>-->

                   <router-outlet></router-outlet>  
        </div>
        <nav class="sidenav">
            sidenav
        </nav>
    </div>
</div>



<!--<div class="main-container">
    
    <div class="content-container">
        <div class="content-area">
          <app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)"
                 (remove)="onRemoveTodo($event)"></app-todo-list>
        </div>
        
    </div>
</div>-->